{% extends "base.html" %}
{%load static%}
{%block title%}Запись{%endblock%}
{%block head%}
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{%endblock%}
{% block body %}
<div class="container" style="margin-top: 100px;">
<h3 style="margin-top: 20px">Уральский Центр Айенгар йоги – первый на Урале лицензированный центр, который стал работать по методу Айенгара.</h3>
            <div>
                <p>Айенгар йога – наиболее мягкая и последовательная практика йоги, которой занимаются миллионы людей во всем мире, и в которой нет ограничений. Она для людей любого возраста: от малышей до людей почтенного возраста, любого уровня физической подготовки (в отличие от Аштанга-йоги), и любого состояния здоровья.</p>
            </div>
            <p>Йогу Айенгара называю йогой исцеления. В результате постоянных занятий:</p>
<ul>
  <li>тело приходит к физиологической симметрии</li>
  <li>мышцы обретают силу, а суставы гибкость</li>
  <li>цвет лица становится здоровым</li>
  <li>улучшается гормональный фон и продлевается молодость</li>
  <li>сознание проясняется, увеличивается способность к концентрации</li>
  <li>ум становится спокойным и ясным</li>
  <li>появляется новая энергия, которой раньше не хватало</li>

</ul>
<p>Основатель метода Шри Б.К.С. Айенгар практиковал занятия «один на один», где каждому ученику объяснял значение и технику каждой асаны, и вместе с ним добивался идеального исполнения. Точность и персонализация – являются основными постулатами йоги по методу Айенгара. Учитель и Ученик в начале пути определяют цели и вместе идут к цели Ученика.
История Центра начинается с 1990 года, когда основатель нашего центра Егор Ротов, стал заниматься йогой.  В Екатеринбурге не было настоящих преподавателей йоги, и учиться ему пришлось, буквально, по журналам и книгам. Уже через 9 лет Егор Ротов сам начал преподавать. Обучение в Институте Йоги памяти Рамамани Айенгар (г. Пуна, Индия) у самого Шри Б.К.С. Айенгара вывела преподавание Егора Ротова на новый уровень. Он стал первым преподавателем по методу Айенгара на Урале. И одним из первых в России.</p>
<p>
Сейчас Уральский Центр Айенгар йоги – это кузница кадров. Более 300 преподавателей со всей России, в том числе собственники йога-центров – ученики Егора Ротова. В команде Егора Ротова работают лучшие из лучших. Каждый обучался в Индии и получил Международный сертификат RIMYI (Института Йоги памяти РамаманиАйенгар). А ведь даже попасть в институт не просто: требуется не менее 2-х лет практики Айенгар-йоги и сложные экзамены.</p>

{% endblock %}