{% extends "base.html" %}
{%load static%}
{%block title%}Запись{%endblock%}
{%block head%}
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{%endblock%}
{% block body %}
<div class="container" style="margin-top: 100px;">
<div class="row g-3">
<form method="POST" action="{% url 'form' %}" name="editor_save" id='editor_save'>
  {% csrf_token %}
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Имя</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
  </div>
  </div>
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="surname">
  </div>
  </div>
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Отчество</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="patronymic">
  </div>
  </div>
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Возраст</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="scale">
  </div>
  </div>
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Номер телефона</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="number">
  </div>
  </div>
  <div class="mb-3">
    <div class="col">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
  </div>
  </div>
  <div class="style">
  <select name="branches" class="js-chosen form-select form-select-lg mb-3" placeholder="Выберите категорию статьи" required="">
  <option name="branches" ></option>
  {% for el in bran_list %}
  <option>{{el.address}}</option>
  {% endfor %}
  </select>
  </div>
  <div class="style">
  <select name="add_section" class="js-chosen form-select form-select-lg mb-3" placeholder="Выберите раздел статьи" required="">
  <option value=""></option>
  {% for el in program_list %}
  <option>{{el.title}}</option>
  {% endfor %}
  </select>
  </div>
  <center><button form="editor_save" type="submit" name="save" class="btn btn-dark">Записаться</button></center>
</form>
</div>
</div>
{% endblock %}